

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aneria | Responsive Bootstrap Landing Template</title>

    <!--Favicons -->
    <link rel="shortcut icon" href="assets/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Prompt:400,500,400i,700" rel="stylesheet">
    <!-- logo only -->
    <link href="https://fonts.googleapis.com/css?family=Mitr:500" rel="stylesheet">


	<link rel="stylesheet" type="text/css" href="assets/bootstrap.min.css" media="screen">	
	<link rel="stylesheet" type="text/css" href="assets/style.css" media="screen">

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-81900462-1', 'auto');
		ga('send', 'pageview');
	</script>

</head>
<body>

    <!-- Preloader -->
    <div class="animationload">
        <div class="loader">
            Loading...
        </div>
    </div> 
    <!-- End Preloader -->

	<!-- Container -->
	<div id="container">
		<!-- Header
		    ================================================== -->
		<header class="clearfix bg-image">
			<div class="logo">
				<a href="index.html">aneria</a>
			</div>
			<p>Responsive Bootstrap Landing Template</p>

			<a href="https://wrapbootstrap.com/theme/aneria-landing-page-template-WB0GP76R6?ref=harry" target="_blank" class="btn btn-custom" style="margin-top:30px;">Download Now</a>
			
		</header>
		<!-- End Header -->
		<!-- content  -->
		<div id="content" class="choose">			
			<div class="container">
				<h1>CHOOSE YOUR DEMO</h1>
				<div class="row">
					<div class="col-sm-4">
						<a href="demo/index_1.html" class="choose-item" target="_blank">
							<img src="assets/demo-1.png" alt="">
						</a>
					</div>
					<div class="col-sm-4">
						<a href="demo/index_2.html" class="choose-item" target="_blank">
							<img src="assets/demo-2.png" alt="">
						</a>
					</div>
					<div class="col-sm-4">
						<a href="demo/index_3.html" class="choose-item" target="_blank">
							<img src="assets/demo-3.png" alt="">
						</a>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<a href="demo/index_4.html" class="choose-item" target="_blank">
							<img src="assets/demo-4.png" alt="">
						</a>
					</div>
					<div class="col-sm-4">
						<a href="demo/index_5.html" class="choose-item" target="_blank">
							<img src="assets/demo-5.png" alt="">
						</a>
					</div>
					<div class="col-sm-4">
						<a href="demo/index_6.html" class="choose-item" target="_blank">
							<img src="assets/demo-6.png" alt="">
						</a>
					</div>
				</div>

			</div>


			

		</div>
		<!-- End content -->

		<div class="footer-alt bg-dark">
            <p class="copy-rights">2016 © Aneria. All Rights Reserved</p>
        </div>


		<!-- jQuery -->
	    <script src="assets/jquery.min.js"></script>
		<script type="text/javascript" src="assets/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/custom.js"></script>

	</body>
</html>